<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language</title>
    </head>

    <body>
        <header>
            <div class="">
                Logo-XX
            </div>
            <div class="">
               Navigation
            </div>
        </header>

        <main>
            <section>
                <form class="form" method="post" onsubmit="return Lib.handleSubmit(event)">
                    <input id="url" type="url" name="url" value=""  placeholder="https://www.meaningcloud.com">
                    <input type="submit" name="" value="submit" onclick="return Lib.handleSubmit(event)" onsubmit="return Lib.handleSubmit(event)">
                </form>

                <div class="result">
                    <ul>
                       Result
                    </ul>
                </div>
            <section>
        </main>
        <footer>
            <p>Copyright &copy; 2023 ManhCT</p>
        </footer>

        <script>
                if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js').then(registration =>{
                        console.log('SW registered successfuly: ', registration);
                    });
                });
            }
        </script>

    </body>
</html>